/*html {*/
    /*background: url(background.jpg) no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/


.input_form {
    text-align: center;
}

.prediction_message {
    text-align: center;
}

.app_h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.navbar-text {
    text-align: right;
}

.formunion {
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.formunionImg {
    cursor: pointer;
    height: 500px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}


.formunionImg .formimg {
    cursor: pointer;
    height: 50%
    overflow: hidden;
    padding: 5px;
    float: left;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.formunionImg .formBtn {
    cursor: pointer;
    height: 50%
    overflow: hidden;
    padding: 5px;
    float: right;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.formunionImg .formimg .imginner {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px;
  height: 100%;
  width: 100%;

}


.fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: pointer;
    height: 90%;
    font-size: 17px;
    overflow: hidden;
    padding: 2px;
    float: left;
    vertical-align: middle;
    position: absolute;
    vertical-align: middle;
    width: 82%;
}

.formunion .selectbutton {
    background-color: rgb(91, 192, 222);
    border: 1px solid rgb(38, 154, 188);
    border-radius: 4px;
    color: #FFFFFF;
    float: right;
    align: center
    position: absolute;
    vertical-align: middle;
    font-size: 17px;
    height: 100%;
    line-height: 24px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 17%;
}

.selectbutton #upload{
    position:absolute;
    opacity: 0;
    float: center;
    align: center
    font-size: 17px;
    height:100%;
    z-index:100;
    width: 100%;
}
.fileform #fileformlabel {
    background-color: #FFFFFF;
    float: left;
    height: 90%;
    float: left;
    width: 100%;
    font-size: 17px;
    position: absolute;
    line-height: 100%;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    align: center
    vertical-align: baseline;
    }

