{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}
{% block content %}
{% block javascript %}
<head>
    <script type="text/javascript">
function getName (str){
    if (str.lastIndexOf('\\')){
        var i = str.lastIndexOf('\\')+1;
    }
    else{
        var i = str.lastIndexOf('/')+1;
    }
    var filename = str.slice(i);
    var uploaded = document.getElementById("fileformlabel");
    uploaded.innerHTML = filename;
}



    </script>
</head>
{% endblock %}
<!--{% if args["method"] == "POST" %}-->
<!--{% if args["file_size_error"] %}-->
<!--<h1>Размер файла превышает 1мб.!</h1>-->
<!--{% else %}-->
<!--<h1>Файл успешно загружен.</h1>-->
<!--{% endif %}-->
<!--{% endif %}-->


<div class="container">
    <div class="jumbotron">
        <h1 class="app_h1">Application for fruit detection by image</h1>
        <h2 class="app_h2">(find a banana on the image)</h2>
        <hr>
        <form class="md-form" action="/" method="POST" enctype="multipart/form-data">
            <div class="formunion">
                <div class="fileform">
                    <div id="fileformlabel">Upload your file ... </div>
                </div>
                <div class="selectbutton">
                    <input id="upload" type="file" name="upload" accept=".jpg, .jpeg, .png"
                           onchange="getName(value)"/>
                    Choose file
                </div>

            </div>
            <hr>
            <hr>
            <button class="btn btn-info" formaction="sentiment" type="submit">Detecting ...</button>
        </form>


        </p>
    </div>
</div>
{%- endblock %}


